{
    "extends": ["airbnb"],
    "plugins": [
      "react",
      "react-native"
    ],
    "rules": {
      "no-use-before-define": "off",
      "comma-dangle": ["error", "always"],
      "indent": ["error", 2, {"SwitchCase": 1}],
      "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
      "babel/arrow-parens": 0,
      "arrow-body-style": ["off"]
    }
}
